.imgfundo {
    background-image: url('../assents/img/fundo1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgfundo::before {
    position: absolute;
    width: 100%;
    height: 400px;
    content: '';
    background-color: rgba(0, 0, 0, 0.5);
}

.texto {
    position: absolute;
    font-size: 50px;
    color: rgb(255, 255, 255);
}

.cor2 {
    background: #d9d9d9;
    margin-top: 2px;
}

.imgcardapio1 {
    height: 120px;
    position: absolute;
    left: 40px;
}

.imgcardapio2 {
    height: 120px;
    border-radius: 1000px;
    position: absolute;
    left: 10px;
}

.imgcardapio3 {
    height: 120px;
    border-radius: 1000px;
    position: absolute;
}

.textosimg {
    padding-top: 150px;
    text-align: center;
    font-size: 15px;
}

.textosimg h1 {
    margin-bottom: 10px;
    font-weight: bold;
}

.imgcardapio4 {
    height: 120px;
    border-radius: 1000px;
    position: absolute;
    left: 38px;
}

.imgcardapio5 {
    height: 120px;
    border-radius: 1000px;
    position: absolute;
    right: 30px;
}

.imgcardapio6 {
    height: 110px;
    border-radius: 1000px;
    position: absolute;
    padding-top: 10px;
    left: 45px;
}

.cardapio {
    width: 800px;
    height: 700px;
    margin: auto;
    border-radius: 100px;
    display: flex;
    position: relative;
    left: -1%;
    padding-top: 50px;
    padding-left: 30px;
}

.cardapio {
    display: grid;
    grid-gap: 40px;
    
    
    grid-template-areas: "item1 item2 item3" "item4 item5 item6";
}

.card1 {
    grid-area: item1;
    width: 200px;
    height: 250px;
    position: relative;
    border: 10px double #647937;
    box-shadow: 10px 10px 10px black;
    background: #d9d9d9;
    border-radius: 30px;
}

.card2 {
    grid-area: item2;
    width: 200px;
    height: 250px;
    position: relative;
    border: 10px double #647937;
    box-shadow: 10px 10px 10px black;
    background: #d9d9d9;
    border-radius: 30px;
}

.card3 {
    grid-area: item3;
    width: 200px;
    height: 250px;
    position: relative;
    border: 10px double #647937;
    box-shadow: 10px 10px 10px black;
    background: #d9d9d9;
    border-radius: 30px;
}

.card4 {
    grid-area: item4;
    width: 200px;
    height: 250px;
    position: relative;
    border: 10px double #647937;
    box-shadow: 10px 10px 10px black;
    background: #d9d9d9;
    border-radius: 30px;
}

.card5 {
    grid-area: item5;
    width: 200px;
    height: 250px;
    position: relative;
    border: 10px double #647937;
    box-shadow: 10px 10px 10px black;
    background: #d9d9d9;
    border-radius: 30px;
}

.card6 {
    grid-area: item6;
    width: 200px;
    height: 250px;
    position: relative;
    border: 10px double #647937;
    box-shadow: 10px 10px 10px black;
    background: #d9d9d9;
    border-radius: 30px;
}
@media (max-width: 2560px) {
    .cardapio {
        display: grid;
        grid-gap: 100px;
        grid-template-areas: "item1 item2 item3 " " item4 item5 item6";
       
    }
    
}



@media (max-width: 1024px) {
    .cardapio {
        display: grid;
        grid-gap: 40px;
        grid-template-areas: "item1 item2 item3 " " item4 item5 item6";
        position: relative;
        left: -2%;
    }
    #Cardapioo {
        height: 1100px;
        background: #d9d9d9;
    }
    .imgfundo::before {
        position: absolute;
        width: 100%;
        height: 300px;
        content: '';
        background-color: rgba(0, 0, 0, 0.5);
    }
    .imgfundo {
        background-image: url('../assents/img/fundo1.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        height: 300px;
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 768px) {
    .cardapio {
        display: grid;
        grid-gap: 40px;
        grid-template-areas: "item1 item2" "item3 item4" " item5 item6";
        position: relative;
        left: 4%;
    }
    #Cardapioo {
        height: 1300px;
        background: #d9d9d9;
    }
    .imgfundo::before {
        position: absolute;
        width: 100%;
        height: 300px;
        content: '';
        background-color: rgba(0, 0, 0, 0.5);
    }
    .imgfundo {
        background-image: url('../assents/img/fundo1.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        height: 300px;
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 600px) {
    .cardapio {
        display: grid;
        grid-gap: 40px;
        grid-template-areas: "item1" "item2 " "item3" "item4 " "item5" "item6 ";
        position: relative;
        left: 25%;
    }
    #Cardapioo {
        height: 2200px;
        background: #d9d9d9;
    }
    .imgfundo::before {
        position: absolute;
        width: 100%;
        height: 300px;
        content: '';
        background-color: rgba(0, 0, 0, 0.5);
    }
    .imgfundo {
        background-image: url('../assents/img/fundo1.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        height: 300px;
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 360px) {
    .cardapio {
        display: grid;
        grid-gap: 40px;
        grid-template-areas: "item1" "item2 " "item3" "item4 " "item5" "item6 ";
        position: relative;
        left: 10%;
    }
    #Cardapioo {
        height: 2200px;
        background: #d9d9d9;
    }
}