.h1 {
    color: rgb(255, 250, 250);
    text-align: center;
    font-size: 200px;
    font-family: 'Medula One', cursive;
}

.h1::after {
    content: "|";
    animation: pisca;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
}

@keyframes pisca {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}