body {
    overflow-x: hidden;
}

.contatos {
    display: flex;
    position: relative;
}

.contatos::before {
    position: absolute;
    width: 100%;
    height: 600px;
    content: '';
    background-color: rgba(54, 75, 9, 0.548);
}

.imgcontato1 {
    background-image: url('/assents/img/marmita\ p.png');
    background-repeat: no-repeat;
    height: 500px;
    width: 500px;
}

.imgcontato1 {
    position: absolute;
    left: -200px;
}

.imgcontato2 {
    background-image: url('/assents/img/saladagrudada.png');
    background-repeat: no-repeat;
    height: 500px;
    width: 500px;
}

.imgcontato2 {
    position: absolute;
    right: -262px;
}

.formulario_forma {
    position: relative;
    max-height: 450px;
    left: -100px;
    top: 150px;
}

.formulario {
    padding: 20px;
    height: 350px;
    width: 400px;
}

.formulario p {
    padding: 20px 0px 20px;
    color: aliceblue;
}

.contatosh1 {
    position: relative;
    top: 20px;
    color: aliceblue;
    right: -420px;
    font-size: 100px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 900;
    color: rgba(100, 121, 55, 0.55);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #FFF;
    max-height: 550;
}

.formulario [type=text] {
    border: 1px solid rgb(255, 255, 255);
    width: 300px;
    outline: 0;
    background-color: rgba(54, 75, 9, 0.548);
    border-radius: 10px;
}

.formulario textarea {
    border: 1px solid rgb(255, 255, 255);
    width: 300px;
    resize: none;
    background-color: rgba(54, 75, 9, 0.548);
}

.botao_form {
    margin-left: 250px;
}