        .titleLocalizaçao {
            display: inline-block;
            font-size: 40px;
            padding-top: 90px;
            padding-left: 130px;
            position: relative;
            font-family: 'Barlow Semi Condensed', sans-serif;
            font-weight: 900;
            color: rgba(93, 161, 76, 0.747);
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: #FFF;
            top: 40px;
        }
        
        .paragrafoLocalizaçao {
            font-size: 20px;
            padding-left: 130px;
            justify-content: space-between;
            position: relative;
            top: 50px;
        }
        
        .fundoLocalizaçao {
            display: inline-block;
            background-color: rgba(93, 161, 76, 0.747);
            color: white;
            width: 100%;
            height: 510px;
            text-align: justify;
            position: relative;
            top: 173px;
        }
        
        .corpoLoca {
            position: relative;
            top: -175px;
            max-width: 66%;
            left: 32%;
        }
        
        @media (max-width: 1024px) {
            .titleLocalizaçao {
                display: inline-block;
                font-size: 55px;
                font-family: 'Barlow Semi Condensed', sans-serif;
                font-weight: 900;
                color: rgba(93, 161, 76, 0.747);
                -webkit-text-stroke-width: 1px;
                -webkit-text-stroke-color: #FFF;
                position: relative;
                top: 40px;
                left: -90px;
            }
            .corpoLoca {
                position: relative;
                top: -165px;
                left: 44%;
                max-width: 50%;
                max-height: 55%;
            }
            .paragrafoLocalizaçao {
                font-size: 28px;
                padding-left: 10px;
                justify-content: space-between;
                position: relative;
                top: 50px;
                left: 30px;
            }
        }
        
        @media (max-width: 768px) {
            .titleLocalizaçao {
                display: inline-block;
                font-size: 40px;
                font-family: 'Barlow Semi Condensed', sans-serif;
                font-weight: 900;
                color: rgba(93, 161, 76, 0.747);
                -webkit-text-stroke-width: 1px;
                -webkit-text-stroke-color: #FFF;
                position: relative;
                top: 40px;
                left: -90px;
            }
            .corpoLoca {
                position: relative;
                top: -125px;
                left: 44%;
                max-width: 50%;
                max-height: 50%;
            }
            .paragrafoLocalizaçao {
                font-size: 20px;
                padding-left: 10px;
                justify-content: space-between;
                position: relative;
                top: 50px;
                left: 30px;
            }
        }
        
        @media (max-width: 600px) {
            .titleLocalizaçao {
                display: inline-block;
                font-size: 40px;
                font-family: 'Barlow Semi Condensed', sans-serif;
                font-weight: 900;
                color: rgba(93, 161, 76, 0.747);
                -webkit-text-stroke-width: 1px;
                -webkit-text-stroke-color: #FFF;
                position: relative;
                top: 40px;
                left: -120px;
            }
            .corpoLoca {
                position: relative;
                top: -125px;
                max-width: 50%;
                max-height: 50%;
                left: 48%;
            }
            .paragrafoLocalizaçao {
                font-size: 20px;
                padding-left: 10px;
                justify-content: space-between;
                position: relative;
                top: 50px;
            }
        }
        
        @media (max-width: 360px) {
            .titleLocalizaçao {
                display: inline-block;
                font-size: 25px;
                font-family: 'Barlow Semi Condensed', sans-serif;
                font-weight: 900;
                color: rgba(93, 161, 76, 0.747);
                -webkit-text-stroke-width: 1px;
                -webkit-text-stroke-color: #FFF;
                position: relative;
                top: 40px;
                left: -120px;
            }
            .corpoLoca {
                position: relative;
                top: -125px;
                max-width: 50%;
                max-height: 50%;
                left: 48%;
            }
            .paragrafoLocalizaçao {
                font-size: 13px;
                padding-left: 10px;
                justify-content: space-between;
                position: relative;
                top: 50px;
            }
        }