.sobre-nos {
    display: flex;
}

.textossobre {
    width: 100%;
    height: 400px;
    content: '';
    background: rgba(100, 121, 55, 0.55);
}

.h1prin {
    font-family: 'Medula One', cursive;
    font-size: 150px;
    padding-left: 150px;
    margin-top: 60px;
}

.caixadetextop {
    width: 100%;
    height: 400px;
    content: '';
    background: rgba(100, 121, 55, 0.55);
}

.caixas {
    margin-top: 50px;
    padding: 15px;
    width: 420px;
    height: 250px;
    border: 10px double #647937;
}

.textosobre {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    max-width: 400px;
    text-align: justify;
}