.paragrafoVip {
    color: rgb(255, 255, 255);
    font-family: 'Medula One', cursive;
    font-weight: 700;
    font-size: 120px;
    z-index: 4;
    margin-left: 340px;
}

.paragrafoDivVip {
    display: block;
    text-align: justify;
    color: white;
    font-size: 40px;
    position: relative;
    left: 25%;
    margin-top: 20px;
}

.paragrafoVipSolo {
    margin-bottom: 25px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.maozinha {
    position: relative;
    top: 20px;
    left: 60px;
    font-size: 75px;
    color: white;
    animation-name: fly;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes fly {
    100% {
        transform: translate(10px)
    }
}

.imgvip {
    height: 60px;
    position: relative;
    top: 15px;
    left: 230px;
    transition: transform 135ms linear, opacity 230ms ease-in-out;
}

.imgvip:hover {
    transform: scale(1.15);
    opacity: 0.9;
}