.titleCadastro {
    font-size: 80px;
    margin-left: 800px;
}

.titleSobre {
    font-family: 'Kiwi maru';
    font-size: 60px;
    text-decoration: underline;
    text-shadow: 2px 2px 0;
}

.subTitleMViVa {
    position: relative;
    left: 90px;
    text-align: justify;
    color: white;
}